In [12]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/01 22:41:09 WARN Utils: Your hostname, codespaces-3a7421 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/03/01 22:41:09 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/01 22:41:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-01 22:04:51--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240301T220451Z&X-Amz-Expires=300&X-Amz-Signature=839d16b7e9b1517f6527cc80f8e843239271ac1b9fb0de853d88d1c25523b047&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-01 22:04:51--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240301T220451Z&X-Amz-Expires=300&X-Amz-Signature=839d16b7e9b1517f6527cc80f8e843239271ac1b9fb0de853d88d1c25523b047&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M   113MB/s    in 0.2s

2024-03-01 22:04:51 (113 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [33]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-01 23:14:07--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240301T231407Z&X-Amz-Expires=300&X-Amz-Signature=66ece28620c8b9772d7e2351ca7eb9c659a476dded71536a6b6e026e8bf2d0e4&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-01 23:14:07--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240301T231407Z&X-Amz-Expires=300&X-Amz-Signature=66ece28620c8b9772d7e2351ca7eb9c659a476dded71536a6b6e026e8bf2d0e4&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-01 23:14:07 (43.8 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [18]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv.gz')

In [35]:
zone_lookup = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [19]:
df

DataFrame[dispatching_base_num: string, pickup_datetime: string, dropOff_datetime: string, PUlocationID: string, DOlocationID: string, SR_Flag: string, Affiliated_base_number: string]

In [38]:
zone_lookup.printSchema()

root
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [20]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropOff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True),
])

In [21]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv.gz')

In [22]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [24]:
df = df.repartition(6)

In [25]:
df.write.parquet('/workspaces/zoomcamp_week5/spark/data/pq/fhv/2019/01/')

In [28]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02653|2019-10-08 13:53:21|2019-10-08 13:56:24|         264|         247|   null|                B02653|
|              B00837|2019-10-12 08:20:51|2019-10-12 08:32:35|         264|         264|   null|                B00837|
|              B01315|2019-10-05 15:13:04|2019-10-05 15:19:48|         264|          74|   null|                B01315|
|              B00789|2019-10-23 00:56:36|2019-10-23 01:33:24|         264|         264|   null|                B00789|
|              B00937|2019-10-18 11:03:47|2019-10-18 11:22:46|         264|          75|   null|                B00937|
|              B03060|2019-10-18 16:31:09|2019-10-18 16:35:05|         264|          22|   null|                B02825|
|              B03033|2019-10-20 02:59:38|2019-10-20 03:04:52|         264|          36|   null|                B03033|
|              B01231|2019-10-11 13:19:24|2019-10-11 14:04:19|         264|          17|   null|                B02872|
|              B02688|2019-10-02 10:59:00|2019-10-02 11:34:46|         264|         107|   null|                B02688|
|              B01029|2019-10-10 14:45:00|2019-10-10 15:47:00|         264|         264|   null|                B01029|
|              B00531|2019-10-19 16:31:08|2019-10-19 16:42:32|          22|          21|   null|                B00531|
|              B02795|2019-10-13 14:09:00|2019-10-13 16:02:57|         222|          47|   null|                B02795|
|              B01194|2019-10-19 23:05:22|2019-10-19 23:15:58|         264|          36|   null|                B01194|
|              B01367|2019-10-15 07:26:39|2019-10-15 09:02:33|         137|         265|   null|                B01367|
|              B02138|2019-10-06 14:02:19|2019-10-06 14:14:22|         264|          14|   null|                B02138|
|              B00111|2019-10-10 21:55:00|2019-10-10 22:34:46|         264|         230|   null|                B00111|
|              B02472|2019-10-16 14:12:36|2019-10-16 14:35:00|         264|         157|   null|                B02472|
|              B01239|2019-10-13 07:53:40|2019-10-13 07:57:16|         264|         254|   null|                B02872|
|              B03016|2019-10-07 13:50:21|2019-10-07 14:01:25|         264|         265|   null|                B02871|
|              B02111|2019-10-08 14:58:52|2019-10-08 15:40:41|          98|          79|   null|                B02111|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [39]:
zone_lookup.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [27]:
df.createOrReplaceTempView('fhv_data')

In [42]:
zone_lookup.createOrReplaceTempView('zone_lookup')

In [30]:
spark.sql("""
SELECT
    count(1)
FROM
    fhv_data
WHERE
    pickup_datetime BETWEEN '2019-10-15 00:00:00' AND '2019-10-15 23:59:59'
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

In [57]:
spark.sql("""
SELECT
    COUNT(PULocationID)
FROM
    fhv_data
ORDER BY
    trip_length DESC
""").show()

+-------------------+
|count(PULocationID)|
+-------------------+
|            1888937|
+-------------------+

In [54]:
df_renamed = df.withColumnRenamed('PULocationID', 'zones')
zones_renamed = zone_lookup.withColumnRenamed('LocationID', 'zones')

In [62]:
spark.sql("""
SELECT
    COUNT(1) as count,
    PULocationID as zones
FROM
    fhv_data
GROUP BY
    zones
ORDER BY
    count asc
""").show()

+-----+-----+
|count|zones|
+-----+-----+
|    1|    2|
|    2|  105|
|    5|  111|
|    8|   30|
|   14|  120|
|   15|   12|
|   23|  207|
|   25|   27|
|   26|  154|
|   29|    8|
|   39|  128|
|   47|  253|
|   53|   96|
|   57|   34|
|   62|   59|
|   77|   58|
|   89|   99|
|   98|  190|
|  105|   54|
|  110|  217|
+-----+-----+
only showing top 20 rows